.formRow {
  border-top: 1rem solid #fdc700;
  border-bottom: 1rem solid #fdc700;
}
.formCol {
  padding: 1rem;
}
.custom {
  border: 0 !important;
  border-bottom: 0.1rem solid #dadada !important;
  margin: 0.3rem !important;
}
.custom ::placeholder {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: large !important;
  height: 100% !important;
  border: 0 !important;
}

.formBtn {
  background-color: #fdc700 !important;
  border: 0 !important;
  font-size: 1.7rem !important;
  margin-bottom: 1.5rem !important;
  box-shadow: 0px 5px 8px 0px #666;
}
.formBtn2 {
  background-color: #4bbcc0 !important;
  border: 0 !important;
  font-size: 1.7rem !important;
  margin-bottom: 1.5rem !important;
  box-shadow: 0px 5px 8px 0px #666;
}
.formBtn :active {
  border-width: 0px !important;
}
