.App {
  background-color: white;
  margin: 0 !important;
  padding: 0 !important;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%, 0, 0 0.4);
  opacity: 0.2;
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  border-radius: 1rem;
}
