.title {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  text-align: right;
  padding-bottom: 10vmin;
}
.leftBox {
  /* width: 10rem;
  height: 15rem; */
  background-color: #feeeb2 !important ;
  border: 0.3rem solid #fa8807 !important;
  border-radius: 0rem !important;
  align-items: center;
  display: flex;
  justify-content: center;
}
.rightBox {
  /* width: 10rem;
  height: 15rem; */
  background-color: #c9ebec !important ;
  border: 0.3rem solid #804cbf !important;
  border-radius: 0rem !important;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 7rem !important;
}
.girl {
  margin: auto;
  position: absolute;
  top: -2rem;
  left: 30%;
  z-index: 1;
}
